# Maven Build
playwright-demo/target/

#Allure report data
playwright-demo/allure-results/
playwright-demo/.allure/
playwright-demo/target/site/allure-maven-plugin/

# lighthouse
playwright-demo/node_modules/
/.lighthouseci/
# IDE Files
/.vscode/
/*.iml/

# OS Filters
.DS_Store
